<form method="POST" action="<%= url %>">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="checklist[title]"
        placeholder="Ex.: Morning Tasks"
        value="<%= checklist.title %>"
      />
      <% if (checklist.error && checklist.error.hasOwnProperty('title')) { %>
      <p class="is-danger help"><%= checklist.error.title.message %></p>
      <% } %>
    </div>
  </div>

  <button type="submit" class="button is-success">Save</button>
  <a href="/checklists" class="button">Cancel</a>
</form>
